.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding: 1vh;

    background-color: $color-nav-footer;
    font-family: 'Raleway', sans-serif;

    &_media {
        font-weight: 500;

        p {
            font-size: 1.3rem;
            color: $fuente-blanco;
        }

        i {
            font-size: 3rem;
            color: $fuente-blanco;
        }
    }
}